
<ul data-collapsible="accordian" class="collapsible">
  <li>
    <div class="collapsible-header"><i class="mdi-image-filter-drama">test</i></div>
    <div class="collapsible-body">
      <p>test</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="mdi-image-filter-drama">test</i></div>
    <div class="collapsible-body">
      <p>test</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="mdi-image-filter-drama">test</i></div>
    <div class="collapsible-body">
      <p>test</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="mdi-image-filter-drama">test</i></div>
    <div class="collapsible-body">
      <p>test</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="mdi-image-filter-drama">test</i></div>
    <div class="collapsible-body">
      <p>test</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="mdi-image-filter-drama">test</i></div>
    <div class="collapsible-body">
      <p>test</p>
    </div>
  </li>
</ul>