ul.collapsible(data-collapsible="accordian")
    - for x in [1,2,3,4,5,6]
        li
            .collapsible-header
                i.mdi-image-filter-drama test
            .collapsible-body
                p test