@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);

boxshadow()
    box-shadow: 2px 2px 2px #888888;

.no-padding
    margin 0
    padding 0

.stage
    height 100%



body
    background-color #e3f2fd
// Dash
.dash
    background-color black

.fullheight
    height 100% !important
.widgetContainer
    min-width 304px


.systemContainer
    font-size 12px
    .collection .collection-item.avatar
        padding-left 72px !important
        height 65px !important
    .collection .collection-item
        padding 0 !important
    .thumb
        position absolute
        width 40px
        left 1em
        top 1em

.feedContainer
    height 100%
    .feeds
        height 100%
        overflow-y scroll !important
        margin-left -20
        margin-right -20
        ul
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            margin: 0 !important
            margin-bottom: 2rem;
        p
            padding 0.3rem !important
            padding-bottom 2em !important

            pre
                background-color #FFF3E0
                padding 0.5rem
                boxshadow()

        a:hover
            text-decoration underline
    .card-header
        padding-bottom 7.5px !important
    .flow-title
        font-size 12px
        line-height 1.2rem !important
    .collapsible-header
        height: 55px !important
    .text
        font-size 12px !important
        line-height 1.3rem !important
        padding 0.1em !important

.torrentsWidget
    height 100%
    ul
        margin 0 !important
    .header
        padding-bottom 7.5px !important
    .torrents
        height 280px
        overflow-y scroll
        margin-left -20
        margin-right -20
        margin-bottom 20px
        i
            margin-bottom 1em
        .flow-title
            font-size 12px
            line-height 1.3rem !important
    .collapsible-header
        height: 35px !important
    .footer
        position absolute
        left 0
        bottom 0
        background-color #FFFFFF
        height 50px
        width 100%
        .text
            margin 0 auto